body {
    background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/high-clouds.jpg');
}

.wcard {
    height: 200px;
    width: 150px;
    background-color: lightblue;
    
}

.container {
    width: 954px !important;
}

#searcher {
    height: 200px;

}

.title {
    background-color: lightblue;
    width: 100%;
    text-align: middle;
    align-content: center;
}
.one, .two, .three, .four, .five {
    inline-size: auto;
    width: 163px;
    background-color: lightblue;
    padding: 0px 15px;
   
}
.one {
    float: left;

}

.two {
    float: left;

}
.three {
    float: left;

}

.four {
    float: left;

}

.five {
    float: right;

}
.row {
    width: 100%;
}
input {
    padding: 5px;
    border-top: 5px;
}