.wcard {
    height: 200px;
    width: 150px;
}

.jumbotron {
    align-self: right;
}

#searcher {
    height: 500px;

}

.title {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    align-content: center;
}
